trunk/metricSuite/etc/48.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="LookupFinancialNews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:MidnightTraderRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MidnightTraderRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ticker" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedHoursEventType" type="tns:ExtendedHoursEventTypeEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedHoursPriceReaction" type="tns:ExtendedHoursPriceReactionEnum" />
          <s:element minOccurs="1" maxOccurs="1" name="HistoricalSearchPeriod" type="tns:HistoricalSearchPeriodEnum" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ExtendedHoursEventTypeEnum">
        <s:restriction base="s:string">
          <s:enumeration value="MostRecent" />
          <s:enumeration value="PreMarket" />
          <s:enumeration value="AfterHours" />
          <s:enumeration value="ForecastReports" />
          <s:enumeration value="MostActives" />
          <s:enumeration value="WatchLists" />
          <s:enumeration value="AnalystNotebook" />
          <s:enumeration value="TradingRanges" />
          <s:enumeration value="BidActivity" />
          <s:enumeration value="AskActivity" />
          <s:enumeration value="Earnings" />
          <s:enumeration value="EarningsNotebook" />
          <s:enumeration value="Gainers" />
          <s:enumeration value="Losers" />
          <s:enumeration value="Upgrades" />
          <s:enumeration value="Downgrades" />
          <s:enumeration value="Summary" />
          <s:enumeration value="TradingAnalysis" />
          <s:enumeration value="FDA" />
          <s:enumeration value="SEC" />
          <s:enumeration value="Mergers" />
          <s:enumeration value="Halts" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ExtendedHoursPriceReactionEnum">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Positive" />
          <s:enumeration value="Negative" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="HistoricalSearchPeriodEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Days1" />
          <s:enumeration value="Days5" />
          <s:enumeration value="Months1" />
          <s:enumeration value="Months3" />
          <s:enumeration value="Months6" />
          <s:enumeration value="Years1" />
          <s:enumeration value="Years2" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LookupFinancialNewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LookupFinancialNewsResult" type="tns:MidnightTraderOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MidnightTraderOutput">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:MidnightTraderResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MidnightTraderResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfMidnightTraderRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMidnightTraderRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MidnightTraderRecord" nillable="true" type="tns:MidnightTraderRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MidnightTraderRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Headline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EarningsSummary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceChange" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PercentChange" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllStatuses">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="tns:StatusCodeOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusCodeOutput">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:StatusCodeResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StatusCodeResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="tns:ArrayOfSIWsStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="tns:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="tns:ServiceInfoOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceInfoOutput">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="tns:SIServiceInfoResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIServiceInfoResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="tns:ArrayOfServiceInfoRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="tns:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <xs:schema xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="LookupFinancialNewsSoapIn">
    <wsdl:part name="parameters" element="tns:LookupFinancialNews" />
  </wsdl:message>
  <wsdl:message name="LookupFinancialNewsSoapOut">
    <wsdl:part name="parameters" element="tns:LookupFinancialNewsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStatuses" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" xmlns:q1="http://ws.strikeiron.com" element="q1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" xmlns:q2="http://ws.strikeiron.com" element="q2:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" xmlns:q3="http://ws.strikeiron.com" element="q3:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" xmlns:q4="http://ws.strikeiron.com" element="q4:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="MidnightTraderSoap">
    <wsdl:operation name="LookupFinancialNews">
      <wsdl:input message="tns:LookupFinancialNewsSoapIn" />
      <wsdl:output message="tns:LookupFinancialNewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
      <wsdl:input message="tns:GetAllStatusesSoapIn" />
      <wsdl:output message="tns:GetAllStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
      <wsdl:input message="tns:GetServiceInfoSoapIn" />
      <wsdl:output message="tns:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="tns:GetRemainingHitsSoapIn" />
      <wsdl:output message="tns:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MidnightTraderSoap" type="tns:MidnightTraderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LookupFinancialNews">
      <soap:operation soapAction="http://www.strikeiron.com/LookupFinancialNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/MidnightTraderFinancialNews/MidnightTrader/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MidnightTrader">
    <wsdl:port name="MidnightTraderSoap" binding="tns:MidnightTraderSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/MidnightTraderFinancialNews/MidnightTrader" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>